html {
    margin: 1px;
    width: 100dvw;
    height: 100dvh;
}

body {
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pages {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.pageDiv {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: start;
}

#title {
    flex-shrink: 1;
    font-family: Copperplate, "Copperplate Gothic Light", Garamond;
}

.header {
    margin: 0;
    height: 10em;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: darkgray;
    align-items: end;
    background-image: url("loop.png")
}

#headerInfo {
    display: flex;
    flex-direction: column;
}

#searchDiv {
    margin: 10px;
    margin-top: 0;
    flex-flow: row wrap;
    display: flex;
    flex-basis: 260px;
    justify-self: end;
    justify-content: end;
}

#searchBar {
    flex-basis: 200px;
    flex-shrink: 1;
}

#searchBtn {
    flex-basis: 60px;
    flex-shrink: 1;
}

#logo {
    height: 8em;
    align-self: center;
    justify-self: start;
}

.modalForm {
    margin: 0;
    padding: 1.9em;
    width: 80dvw;
    height: 70dvh;

}

.fieldSet {
    height: 100%;
    display: flex;
    flex-direction: row;
}

div.addform {
    display: none;
}

#addInputs {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#updateInputs {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#addCloseDiv {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: start;
}

#closeUpdateDiv {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: start;
}

.shortInput {
    width: 33%;
}


#populateMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


div.entryCard {
    margin: 0;
    padding: 1.9em;
    border: 1px solid black;
    padding: 1.3em;
    width: 50%;
}

#submitpoi {
    width: 100px;
}

#updatepoibtn {
    width: 100px;
}

#comments {
    min-height: 100px;
}

#updatecomments {
    min-height: 100px;
}

/* div#addworld {
    display: flex;
} */