body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 10em;
    width: 100dvw;
    display: flex;
    background: darkgray;
}

#searchDiv {
    display: flex;
    justify-content: end;
    justify-self: end;

}

#logo {
    height: 8em;
}

div.addform {
    display: none;
}

div.entryCard {
    border: 1px solid black;
    padding: 1.3em;
}

/* div#addworld {
    display: flex;
} */