body {
    display: flex;
}

.header {
    height: 10em;
    width: 100dvw;
    display: flex;
    background: darkgray;
}

#logo {
    height: 8em;
}

div.addform {
    display: none;
}

div.entryCard {
    border: 1px solid black;
    padding: 1.3em;
}

/* div#addworld {
    display: flex;
} */